/* Global Styles */
* {
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Regular.woff2") format("woff2"),
		url("OpenSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
/* Navbar Styles */
.navbar {
	background-color: transparent;
	padding: 7px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.menu-logo {
	display: none;
}
.wrapper {
	max-width: 1240px;
	margin: 0 auto;
}

.header {
	font-family: "Intro W03 Black";
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 55px;
	z-index: 3;
}

.logo img {
	height: 100%;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu li {
	margin: 0 24px;
	padding: 0 10px;
}

.menu a {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: color 0.3s ease;
}

.menu a:hover {
	color: #007bff;
}

.search {
	cursor: pointer;
	z-index: 3;
}

.search i {
	font-size: 18px;
	color: #fff;
	transition: color 0.3s ease;
}

/* .search i:hover {
	color: #007bff;
} */
.menu-logo i {
	color: #fff;
}
.bgColor {
	background-color: #fff;
	color: black;
	.menu a {
		color: #09357a;
	}
	.fas {
		color: #09357a;
	}
	.fa-solid {
		color: #09357a;
	}
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	.wrapper {
		padding: 0 25px;
	}

	.menu {
		display: none;
	}

	.search {
		margin-right: 10px;
	}
}



/* ======== mobile menu ======== */
/**********************/
/*** Hamburger Menu ***/
/*********************/
.middle-overlay {
	position: fixed;
	top: 0%;
	left: 0%;
	transform: translate(0%, 0%);
	background-color: #ffffff;
	min-height: 100%;
	border-top-left-radius: 8px; /* Adjust the value as needed */
	border-bottom-left-radius: 8px;
	width: 100%;
	padding: 20px;
	z-index: 2;
}

.hidden {
	display: none;
}

.middle-overlay .menu-top {
	display: flex;
	justify-content: space-between;
}

.middle-overlay .logo-container {
	width: 130px;
}

.middle-overlay .menu-top {
	height: 52px;
	border-bottom: 0.5px solid #e4e4e4;
	margin-bottom: 16px;
	padding-left: 20px;
    /* padding-top: 5px; */
}

.middle-overlay .menu-top .close-icon {
	width: 24px;
	text-align: center;
}
.close-icon .fa-xmark{
	font-size: 25px;
	color: #09357a;
}
.middle-overlay ul {
	margin-bottom: 30px;
	list-style: none;
    padding: 0;
    margin: 0;
}

.middle-overlay ul .menu-list-arrow a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.middle-overlay ul .menu-list-arrow .arrow-icon {
	width: 15px;
}

.middle-overlay ul li {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
    padding-top: 20px;
    padding-right: 20px;
	padding-left: 20px;
	text-transform: capitalize;
}
.middle-overlay ul li .expand-icon{
	font-size: x-large;
	color: #09357a;
	font-weight: 800;
}
.middle-overlay ul li a {
	color: black;
	font-weight: 800;
	font-size: 20px;
	font-family: 'Volte';
	line-height: 27px;
	color: #09357a;
	overflow-y: auto; 
}

.middle-overlay ul li a:hover {
	text-decoration: underline 1px solid white;
}

.middle-overlay .menu-bottom-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-secondary);
	border-radius: 20px;
	padding: 6px 15px;
}
.menu-bottom-button-img {
	width: 24px;
}
.middle-overlay .menu-bottom-button a {
	margin-left: 10px;
	text-decoration: none;
	color: white;
}


/* Spotlight section styles */
.spotlight img {
	max-width: 100%;
	height: auto;
}

.spotlight-image-2 {
	display: none;
}

.spotlight {
	text-align: center;
	position: relative;
}

.spotlight-content {
	display: inline-block;
	vertical-align: middle;
}

.button-hide {
	display: none;
}
.actions {
	position: absolute;
	bottom: 4%;
	right: 20%;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.learn-more {
	margin-right: 10px;
	padding: 10px 39px;
	border: 2px solid #fff;
	border-radius: 25px;
	background-color: #09357a;
	font-family: "Intro W03 Black";
}

.learn-more a {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.dropdown-icon {
	margin-left: auto;
	color: #fff;
}

.centered-text {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	z-index: 2;
}
/* =================== slider =========== */
/* ====================================== */
.section-slider{
	display: none;
}
.slider{
	/* display: flex; */
	/* padding: 0 5px; */
	padding-left: 10px;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.wrapper2{
	display: flex;
	justify-content: center;
	max-width: 1200px;
	position: relative;
	padding-bottom: 35px;
}
  .wrapper2 i{
	top: 50%;
	height: 44px;
	width: 44px;
	color: #343F4F;
	cursor: pointer;
	font-size: 1.15rem;
	position: absolute;
	text-align: center;
	line-height: 44px;
	background: #fff;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: transform 0.1s linear;
  }
  .wrapper2 i:active{
	transform: translateY(-50%) scale(0.9);
  }
  .wrapper2 i:hover{
	background: #f2f2f2;
  }
  .wrapper2 i:first-child{
	/* right: -22px; */
	left: 0;
	display: none;
  }
  .wrapper2 i:last-child{
	right: 0px;
  }
  .wrapper2 .carousel{
	font-size: 0px;
	cursor: pointer;
	overflow:hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
	width: 690px;
  }
  .carousel.dragging{
	cursor: grab;
	scroll-behavior:smooth;
  }
  .carousel.dragging img{
	pointer-events: none;
  }
  .carousel img{
	height: auto;
	width: 100%;
	object-fit: cover;
	user-select: none;
  }
  .carousel img:first-child{
	margin-right: 13px;
  }
.carousel-item1 {
    display: inline-block; /* Ensures items are displayed in a row */
    margin-right: 10px; /* Adjust margin between items as needed */
	position: relative;
}

/* Adjust styles for images within carousel items */
.carousel-item1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-item1-content {
	position: absolute;
	top: 30px;
	left: 30px;
	max-width: 300px;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-sizing: border-box;
}

.carousel-item1-content strong {
	display: block;
	font-size: 24px;
	font-weight: bold;
	font-family: "Intro W03 Black";
}

.carousel-item1-content span {
	font-size: 22px;
	font-family: "Intro W03 Regular";
}

.carousel-item1-content p {
	font-size: 16px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: "Volte";
}

.carousel-item1-content a button {
	font-family: "Intro W03 Regular";
	background-color: #fff;
	color: #123399;
	border: 2px solid #fff;
	font-weight: 800;
	border-radius: 20px;
	padding: 7px 20px;
	font-weight: bolder;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.carousel-item1-content a button:hover {
	background-color: #123399;
	color: #fff;
}

/* Adjust styles for images within carousel items */
/* ================= */

.carousel-item2 {
    display: inline-block; /* Ensures items are displayed in a row */
    margin-right: 10px; /* Adjust margin between items as needed */
}

/* Adjust styles for images within carousel items */
.carousel-item2 img {
    /* width: 100%;
    height: auto;
    object-fit: cover;
	user-select: none; */
	width: 100%;
    height: auto;
    object-fit: cover;
}

/* ================ */
.carousel-item3 {
    display: inline-block; /* Ensures items are displayed in a row */
    margin-right: 10px; /* Adjust margin between items as needed */
}

/* Adjust styles for images within carousel items */
.carousel-item3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ================ */
/* Features styles */
.feature-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: blue;
	padding: 25px 0;
	/* max-width: 980px; */
}

.feature-container h2 {
	font-family: "Intro W03 Regular";
	font-size: 26px;
	color: #09357a;
	margin-bottom: 10px;
}

.feature-container h2 span {
	font-family: "Intro W03 Black";
	color: #09357a;
}

.feature-content2 {
	margin-top: 20px;
	font-family: "Volte";
}

.feature-content2 a {
	color: #09357a;
	font-weight: bold;
}

.features-bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.feature {
	position: relative;
	width: calc(33.33% - 20px);
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feature-image {
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.feature-image img {
	width: 100%;
	height: 100%;
	display: block;
}

.feature-content {
	position: absolute;
	top: 30px;
	left: 30px;
	max-width: 300px;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-sizing: border-box;
}

.feature-content strong {
	display: block;
	font-size: 24px;
	font-weight: bold;
	font-family: "Intro W03 Black";
}

.feature-content span {
	font-size: 22px;
	font-family: "Intro W03 Regular";
}

.feature-content p {
	font-size: 16px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-family: "Volte";
}

.feature-content a button {
	font-family: "Intro W03 Regular";
	background-color: #fff;
	color: #123399;
	border: 2px solid #fff;
	font-weight: 800;
	border-radius: 20px;
	padding: 7px 20px;
	font-weight: bolder;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.feature-content a button:hover {
	background-color: #123399;
	color: #fff;
}

/* Footer styles */
.wrapper {
	width: 100%;
	max-width: 1237px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer {
	background-color: #09357a;
	color: #fff;
	font-family: "Volte";
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 60px 0 5px;
}

.footer-section {
	flex: 1 1 calc(22% - 40px);
	margin-bottom: 20px;
}

.footer-section h3 {
	font-size: 16px;
	padding-bottom: 24px;
}

.footer-section ul {
	list-style: none;
	padding: 0;
	line-height: 24px;
}

.footer-section ul li {
	margin-bottom: 16px;
}

.footer-section ul li a {
	text-decoration: none;
}

.footer-section-last ul {
	list-style: none;
	padding: 0;
}

.footer-section-last ul li {
	display: inline-block;
	margin-right: 10px;
}
.social-icons {
	max-width: 550px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.footer-section-last ul li:last-child {
	margin-right: 0;
}

.privacy-choices {
	text-align: center;
	display: flex;
	justify-content: end;
	margin-top: 20px;
	padding-bottom: 35px;
	color: #fff;
	border-bottom: 0.5px solid #7a7a7a;
}

.footer-privacy-img,
.footer-privacy-img2,
.footer-privacy-img3 {
	margin-right: 25px;
}

.privacy-choices p {
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
}

.privacy-choices .footer-privacy-img {
	width: 40px;
}

.privacy-choices .footer-privacy-img img {
	width: 100%;
}

.privacy-choices .footer-privacy-img3 {
	width: 100px;
}

.privacy-choices .footer-privacy-img3 img {
	width: 100%;
}

.footer-bottom {
	font-size: 14px;
	padding-top: 36px;
	padding-bottom: 36px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	/* padding: 20px; */
}
.footer-bottom-980 {
	display: none;
}
.footer-country {
	display: inline-block;
	display: flex;
	margin-right: 20px;
}

.footer-country {
	font-size: 18px;
}

.cuntry-image {
	margin-right: 15px;
}

.dropdown {
	margin-left: 10px;
	margin-top: 5px;
	font-size: 15px;
}

.footer-country img {
	width: 40px;
	height: auto;
}

.footer-content ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.footer-content ul li {
	margin-right: 25px;
}

.footer-content ul li a {
	color: #fff;
}

.footer-copyright {
	font-size: 0.9rem;
}

.footer-section-980 {
	display: none;
}
.footer-country-980 {
	display: none;
}
