/* Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Navbar Styles */
.navbar {
    background-color: transparent;
    padding: 7px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    font-family: "Intro W03 Black";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.logo img {
    height: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 24px;
    padding: 0 10px;
}

.menu a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #007bff;
}

.search {
    cursor: pointer;
}

.search i {
    font-size: 18px;
    color: #fff;
    transition: color 0.3s ease;
}

.search i:hover {
    color: #007bff;
}

.bgColor{
    background-color: #fff;
    color: black;
    .menu a {
        color: #09357A;
    }
    .fas {
        color: #09357A;
    }
       
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 10px;
    }

    .menu {
        display: none;
    }

    .search {
        margin-right: 10px;
    }
}

/* Spotlight section styles */
.spotlight img {
    max-width: 100%;
    height: auto;
}

.spotlight {
    text-align: center;
    position: relative;
}

.spotlight-content {
    display: inline-block;
    vertical-align: middle;
}

.actions {
    position: absolute;
    bottom: 4%;
    right: 20%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.learn-more {
    margin-right: 10px;
    padding: 10px 39px;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #09357A;
    font-family: "Intro W03 Black";
}

.learn-more a {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.dropdown-icon {
    margin-left: auto;
    color: #fff;
}

.centered-text {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

/* Features styles */
.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: blue;
    padding: 25px 0;
}

.feature-container h2 {
    font-family: "Intro W03 Regular";
    font-size: 26px;
    color: #09357A;
    margin-bottom: 10px;
}

.feature-container h2 span {
    font-family: "Intro W03 Black";
    color: #09357A;
}

.feature-content2 {
    margin-top: 20px;
    font-family: "Volte";
}

.feature-content2 a {
    color: #09357A;
    font-weight: bold;
}

.features-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.feature {
    position: relative;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feature-image {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.feature-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.feature-content {
    position: absolute;
    top: 30px;
    left: 30px;
    min-width: 300px;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
}

.feature-content strong {
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: "Intro W03 Black";
}

.feature-content span {
    font-size: 22px;
    font-family: "Intro W03 Regular";
}

.feature-content p {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: "Volte";
}

.feature-content a button {
    font-family: "Intro W03 Regular";
    background-color: #fff;
    color: #123399;
    border: 2px solid #fff;
    font-weight: 800;
    border-radius: 20px;
    padding: 7px 20px;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.feature-content a button:hover {
    background-color: #123399;
    color: #fff;
}

/* Footer styles */
.wrapper {
    width: 100%;
    max-width: 1237px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer {
    background-color: #09357A;
    color: #fff;
    font-family: "Volte";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0 5px;
}

.footer-section {
    flex: 1 1 calc(22% - 40px);
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 16px;
    padding-bottom: 24px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    line-height: 24px;
}

.footer-section ul li {
    margin-bottom: 16px;
}

.footer-section ul li a {
    text-decoration: none;
}

.footer-section-last ul {
    list-style: none;
    padding: 0;
}

.footer-section-last ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-section-last ul li:last-child {
    margin-right: 0;
}

.privacy-choices {
    text-align: center;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 35px;
    color: #fff;
    border-bottom: 0.5px solid #7a7a7a;
}

.footer-privacy-img,
.footer-privacy-img2,
.footer-privacy-img3 {
    margin-right: 25px;
}

.privacy-choices p {
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
}

.privacy-choices .footer-privacy-img {
    width: 40px;
}

.privacy-choices .footer-privacy-img img {
    width: 100%;
}

.privacy-choices .footer-privacy-img3 {
    width: 100px;
}

.privacy-choices .footer-privacy-img3 img {
    width: 100%;
}

.footer-bottom {
    font-size: 14px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-country {
    display: inline-block;
    display: flex;
    margin-right: 20px;
}

.footer-country {
    font-size: 18px;
}

.cuntry-image {
    margin-right: 15px;
}

.dropdown {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.footer-country img {
    width: 40px;
    height: auto;
}

.footer-content ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    margin-right: 35px;
}

.footer-content ul li a {
    color: #fff;
}

.footer-copyright {
    font-size: 0.9rem;
}
